<div>Total order price :{{total}}</div>
<h2>selected Cat Id : {{seletctedCategoryId}}</h2>

<div class="mb-3">
    <label for="" class="form-label">
        <select name="" id="" [(ngModel)]="seletctedCategoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
    </label>
</div>


<button (click)="change()">change category</button>

<!--For Block-->
<!-- 
@for (product of products; track product.id; let i = $index) {

<div *ngIf="product.quantity>0" [style.background]="product.quantity==0?'yellow':'white'"
    [class.d-none]="product.catId!=seletctedCategoryId" class="card" style="width: 18rem;">
    <img [src]="product.imgUrl" class="card-img-top" alt="...">
    <div class="card-body" [ngStyle]="{
            border:(product.quantity==1)?'1px solid red':'1px solid green'}"
        [ngClass]="(product.quantity==1)?'text-danger':''">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">Price : {{product.price}}</p>

        <ng-continer [ngSwitch]="product.quantity">
            <p *ngSwitchCase="1"> Quantity :LastItem</p>
            <p *ngSwitchCase="2"> Quantity :Last 2 Item</p>
            <p *ngSwitchDefault=""> Quantity :{{product.quantity}}
            <p>


    

        <p class="card-text">Index: {{i+1}}</p>
        <input type="number" #countInp>
        <button class="btn btn-success" (click)="buy(countInp.value,product.price)">buy</button>
    </div>
</div>




}@empty{
<h1> No Product Found</h1>

} -->

<!--If Block-->
<!-- @for (product of products; track product.id; let i = $index) {

<div *ngIf="product.quantity>0" [style.background]="product.quantity==0?'yellow':'white'"
    [class.d-none]="product.catId!=seletctedCategoryId" class="card" style="width: 18rem;">
    <img [src]="product.imgUrl" class="card-img-top" alt="...">
    <div class="card-body" [ngStyle]="{
            border:(product.quantity==1)?'1px solid red':'1px solid green'}"
        [ngClass]="(product.quantity==1)?'text-danger':''">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">Price : {{product.price}}</p>

        @if (product.quantity==1) {
        <p>Quantity :LastItem</p>
        }@else if (product.quantity ==2) {

        <p>Quantity :Last 2 Item</p>
        }@else{
        <p>Quantity :{{product.quantity}}</p>

        }
        <p class="card-text">Index: {{i+1}}</p>
        <input type="number" #countInp>
        <button class="btn btn-success" (click)="buy(countInp.value,product.price)">buy</button>
    </div>
</div>




}@empty{
<h1> No Product Found</h1>

} -->
<!--Switch Block-->

<!-- @for (product of products; track product.id; let i = $index) {

<div *ngIf="product.quantity>0" [style.background]="product.quantity==0?'yellow':'white'"
    [class.d-none]="product.catId!=seletctedCategoryId" class="card" style="width: 18rem;">
    <img [src]="product.imgUrl" class="card-img-top" alt="...">
    <div class="card-body" [ngStyle]="{
            border:(product.quantity==1)?'1px solid red':'1px solid green'}"
        [ngClass]="(product.quantity==1)?'text-danger':''">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">Price : {{product.price}}</p>

        @switch (
        product.quantity
        ) {
        @case (1) {
        <p>Quantity :LastItem</p>
        }@case (2) {
        <p>Quantity :Last 2 Item</p>
        }@default {
        <p>Quantity :{{product.quantity}}</p>
        }
        }
        <p class="card-text">Index: {{i+1}}</p>
        <input type="number" #countInp>
        <button class="btn btn-success" (click)="buy(countInp.value,product.price)">buy</button>
    </div>
</div>




}@empty{
<h1> No Product Found</h1>

} -->