<h2>selected Cat Id : {{receivedCatId}}</h2>



<!-- <button (click)="change()">change category</button> -->


@for (product of filteredProducts; track product.id; let i = $index) {

<div class="card" style="width: 18rem;" appHighlightCard="gray" externalColor="pink">
    <img [src]="product.imgUrl" class="card-img-top" alt="...">
    <div class="card-body" [ngStyle]="{
            border:(product.quantity==1)?'1px solid red':'1px solid green'}"
        [ngClass]="(product.quantity==1)?'text-danger':''">
        <h5 class="card-title">{{product.name}}</h5>


        <p class="card-text">Price : {{product.price |currency:'EUR':'code'}}</p>

        @switch (
        product.quantity
        ) {
        @case (1) {
        <p>Quantity :LastItem</p>
        }@case (2) {
        <p>Quantity :Last 2 Item</p>
        }@default {
        <p>Quantity :Last 2 Item</p>
        }
        }
        <p class="card-text">Index: {{i+1}}</p>
        <input type="number" #countInp>
        <button class="btn btn-success" (click)="buy(countInp.value,product.price)">buy</button>
        <!-- <button (click)="navigateToDetails(product.id)">Details</button> -->
        <button [routerLink]="['/Details',product.id]">Details</button>

    </div>
</div>




}@empty{
<h1> No Product Found</h1>

}
<h1>{{myDate|date:'shortDate' }}</h1>

<h1>{{num|square:3 }}</h1>